@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

@import '~@nebular/theme/styles/prebuilt/default.css';
@import '~@nebular/theme/styles/prebuilt/dark.css';
/* You can add global styles to this file, and also import other style files */

.custom-window{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
