<nb-layout>
  <nb-layout-header *ngIf="notLoginNorRegister()" class="header-section" subheader fixed="false">
    <div class="header-container">
      <div class="header-logo">
        <a style="text-decoration:none;" routerLink=""><h1>Survey Sharing</h1></a>
      </div>
      <div class="Search bar">
        <div style="display:inline-block">
          <nb-actions size="medium">
            <nb-action icon="search" link="search/{{searchType}}" style="top: 5px; left: 15px;"></nb-action>
          </nb-actions>
        </div>
        <div style="display:inline-block"><input type="text" nbInput placeholder="Search" [(ngModel)]="query"></div>
        <div style="display:inline-block;">
          <nb-select [(ngModel)]="searchType" placeholder="Search type">
            <nb-option value="surveys">Surveys</nb-option>
            <nb-option value="users">Users</nb-option>
          </nb-select>
        </div>
      </div>
      <div *ngIf="this.mail" class="actions" style="float: right;">
        <nb-actions size="medium">
          <nb-action icon="plus" link="create-survey" title="Create survey"></nb-action>
          <nb-action icon="person" link="user" title="Yuor profile"></nb-action>
          <nb-action icon="email" link="messages" badgeDot badgePosition="top right" badgeStatus="danger" title="Messages"></nb-action>
          <nb-action icon="log-out" link="login" title="Log out"></nb-action>
        </nb-actions>
      </div>
      <div *ngIf="!this.mail" class="actions" style="float: right;">
        <nb-actions size="medium">
          <nb-action icon="plus" link="create-survey" title="Create survey"></nb-action>
          <nb-action icon="person" link="user" title="Your profile"></nb-action>
          <nb-action icon="email" link="messages" title="Messages"></nb-action>
          <nb-action icon="log-out" link="login" title="Log out"></nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed="true">
    Lorenzo Bloise - l.bloise@outlook.it
  </nb-layout-footer>
</nb-layout>
