<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <h1>{{appComponent.getUser().name}} {{appComponent.getUser().surname}}</h1>
      </nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-header>
            <h4>Information</h4>
          </nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item>
                <div class="item-container">
                  <div class="item-1">
                    <b>Name</b>: {{appComponent.getUser().name}}
                  </div>
                  <div class="item-1">
                    <b>Surname</b>: {{appComponent.getUser().surname}}
                  </div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="item-container">
                  <div class="item-1">
                    <b>Username</b>: {{appComponent.getUser().username}}
                  </div>
                  <div class="item-1">
                    <b>Email</b>: {{appComponent.getUser().email}}
                  </div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="item-container">
                  <div class="item-1">
                    <b>Age</b>: {{appComponent.getUser().age}}
                  </div>
                  <div class="item-1">
                    <b>Gender</b>: {{appComponent.getUser().gender}}
                  </div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                  <div class="item-1"></div>
                </div>
              </nb-list-item>
              <nb-list-item>
                <div class="item-1">
                  <b>Country</b>: {{appComponent.getUser().country}}
                </div>
                <div class="item-left">
                  <b>Registered since</b>:
                </div>
                <div class="item-left">
                  {{appComponent.getUser().registrationDate[0]}}/{{appComponent.getUser().registrationDate[1]}}/{{appComponent.getUser().registrationDate[2]}}
                  <br>{{appComponent.getUser().registrationDate[3]}}:{{appComponent.getUser().registrationDate[4]}}:{{appComponent.getUser().registrationDate[5]}}
                </div>
                <div class="item-1"></div>
                <div class="item-1"></div>
                <div class="item-1"></div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-tabset fullWidth="">
            <nb-tab tabTitle="Created Surveys">
              <nb-list>
                <nb-list-item>
                  <div class="item-container">
                    <div class="item-1">
                      <b>Title</b>
                    </div>
                    <div class="item-1">
                      <b>Creation date</b>
                    </div>
                    <div class="item-2">
                      <b>Average rating</b>
                    </div>
                    <div class="item-3"></div>
                    <div class="item-3"></div>
                  </div>
                </nb-list-item>
                <nb-list-item *ngFor="let survey of appComponent.getCreatedSurveys()">
                  <div class="item-container">
                    <div class="item-1">
                      {{survey.title}}
                    </div>
                    <div class="item-1">
                      {{appComponent.getParsedDate(survey.creationDate)}}
                      <br>{{appComponent.getParsedHour(survey.creationDate)}}
                    </div>
                    <div class="item-2">
                      <!--TODO Average Rating-->
                    </div>
                    <div class="item-3">
                      <button nbButton (click)="goToSurveyDetailsPage(survey.title)">Details<nb-icon icon="file-text"></nb-icon></button>
                    </div>
                    <div class="item-3">
                      <button nbButton (click)="deleteCreatedSurvey(survey.title)">Delete<nb-icon icon="trash-2"></nb-icon></button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Answered surveys">
              <nb-list>
                <nb-list-item>
                  <div class="item-container">
                    <div class="item-1">
                      <b>Title</b>
                    </div>
                    <div class="item-1">
                      <b>Created by</b>
                    </div>
                    <div class="item-2">
                      <b>Answer date</b>
                    </div>
                    <div class="item-3"></div>
                    <div class="item-3"></div>
                  </div>
                </nb-list-item>
                <nb-list-item *ngFor="let answer of appComponent.getAnswers()">
                  <div class="item-container">
                    <div class="item-1">
                      {{answer.answer.survey}}
                    </div>
                    <div class="item-1">
                      <nb-user name="{{answer.surveyOwner.name}} {{answer.surveyOwner.surname}}" title="{{answer.surveyOwner.username}}"></nb-user>
                    </div>
                    <div class="item-2">
                      {{appComponent.getParsedDate(answer.answer.answerDate)}}
                      <br>{{appComponent.getParsedHour(answer.answer.answerDate)}}
                    </div>
                    <div class="item-3">
                      <button nbButton (click)="goToAnswerDetailsPage(answer.answer.survey)">Details<nb-icon icon="file-text"></nb-icon></button>
                    </div>
                    <div class="item-3">
                      <button nbButton (click)="deleteAnswer(answer.answer.id)">Delete<nb-icon icon="trash-2"></nb-icon></button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-tab>
            <nb-tab tabTitle="Invitations">
              <nb-list>
                <nb-list-item>
                  <div class="item-container">
                    <div class="item-1">
                      <b>Survey</b>
                    </div>
                    <div class="item-1">
                      <b>Sender</b>
                    </div>
                    <div class="item-2">
                      <b>Invitation date</b>
                    </div>
                    <div class="item-2">
                      <b>Message</b>
                    </div>
                    <div class="item-3"></div>
                    <div class="item-3"></div>
                  </div>
                </nb-list-item>
                <nb-list-item *ngFor="let invitation of appComponent.getInvitations()">
                  <div class="item-container">
                    <div class="item-1">
                      {{invitation.invitation.survey}}
                    </div>
                    <div class="item-1">
                      <nb-user name="{{invitation.surveyOwner.name}} {{invitation.surveyOwner.surname}}" title="{{invitation.surveyOwner.username}}"></nb-user>
                    </div>
                    <div class="item-2">
                      {{appComponent.getParsedDate(invitation.invitation.invitationDate)}}
                      <br>{{appComponent.getParsedHour(invitation.invitation.invitationDate)}}
                    </div>
                    <div class="item-2">
                      {{invitation.invitation.message}}
                    </div>
                    <div class="item-3">
                      <button nbButton disabled="{{checkAccepted(invitation.invitation.survey)}}" (click)="answerSurvey(invitation.invitation.survey)"
                      [nbTooltip]="getTooltip(invitation.invitation)" [nbTooltipDisabled]="!checkAccepted(invitation.invitation.survey)">
                        Accept<nb-icon icon="checkmark-circle-2"></nb-icon>
                      </button>
                    </div>
                    <div class="item-3">
                      <button nbButton (click)="deleteInvitation(invitation.invitation.id)">Delete<nb-icon icon="trash-2"></nb-icon></button>
                    </div>
                  </div>
                </nb-list-item>
              </nb-list>
            </nb-tab>
          </nb-tabset>
        </nb-card>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
